@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;      
}

html{
    font-size: 62,5%;
    /** 1 rem= 16px
   con esta regla 1 rem= 10px*/
}


/* Encabezado verde*/
.header{
    background-color: red;
    width: 100%;
    height: 40%;
    display:flex;
    flex-direction: row;   
    align-items:stretch;
}
/*Logo de la Tienda de Bebidas*/
.header div img{
    border-radius: 55%;
    height:70%;
    width: 55%;
    margin-top: 8%; 
    margin-bottom: 5%;
    margin-left: 25%;   
}
/*El Search


.delivery p{
    color: red;
    font-size: 3rem;
    font-weight: bold;
    font-variant:unset;
    
    margin-top: 15%;
    margin-right: 3%;
    animation: move 3s ease-in-out infinite;
   
}    
@keyframes move{
0% {
transform: translate(-30%,0);

}
50%{
    text-shadow: 0 25px 50px rgb(21, 20, 20);
}
100%{
    transform:translate(30%, 0)
}
}*/

.titulo{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    column-gap: 3rem;
    font-size: 0.5rem;
    margin-top: 0; 
   
}
.containerBebidas{
    background-color: black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: max-content;
    }
    .card-body{
       
        background-color: white
    }
    .pedidoContainer{
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0%;
       }

.pedido select{
    color:white;
    background-color:black;
    margin-top: 15%;
    font-size: 1.2rem;
   font-weight: bold;
}

   .pedido div{
    color: white;
    background-color:black;
    font-size: 1.2rem;
   font-weight: bold;
   margin-top: 5%;
   margin-bottom: 5%;
   }
   