@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;      
}

html{
    font-size: 62,5%;
    /** 1 rem= 16px
   con esta regla 1 rem= 10px*/
}


/* Encabezado verde*/
.header{
    background-color: red;
    width: 100%;
    height: 40%;
    display:flex;
    flex-direction: row;   
    align-items:stretch;
}
/*Logo de la Tienda de Bebidas*/
.header div img{
    border-radius: 55%;
    height:70%;
    width: 55%;
    margin-top: 8%; 
    margin-bottom: 5%;
    margin-left: 25%;   
}
/*El Search


.delivery p{
    color: red;
    font-size: 3rem;
    font-weight: bold;
    font-variant:unset;
    
    margin-top: 15%;
    margin-right: 3%;
    animation: move 3s ease-in-out infinite;
   
}    
@keyframes move{
0% {
transform: translate(-30%,0);

}
50%{
    text-shadow: 0 25px 50px rgb(21, 20, 20);
}
100%{
    transform:translate(30%, 0)
}
}*/

.titulo{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0%; 
   
}
.contenedor-bebidas {
    background-color: black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0%;
    
    }
    .card-body{
        background-color: white;
    } 
   .pedido{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0%; 
    margin-bottom: 0%;
   
   }
   
    
    .form-Container{
        background-color: black;
        color:white;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0%;
        margin-bottom: 0%;
       }

    

    .boton {
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: black;
        color:white;
        height: 100%;
        width: 100%;
        margin-top: 0%;
    
    }   
.boton button{
    margin-top: 3%;
    margin-bottom: 5%;
}
.table {
    background-color:black;
    color:red;
    font-size:1.2rem ;
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    width:100%;
    margin-bottom: 0%;
    margin-top: 0%;
  
}
.items tr th{
    color:red;
    font-weight: bold;
    width:100%;
    justify-content: space-between;
   

}

.bodyprod tr th td{
    flex-direction: row;
    align-items: center;
    color:red;
}    
.btnPedido{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: green;
        color:white;
        height: 100%;
        width: 100%;
        margin-top: 0%;
    
}


